<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown"
        aria-expanded="false" aria-haspopup="true">
        Select Category
    </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1">Mobiles</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a tabindex="-1" href="#">Samsung</a>
                </li>
                <li class="dropdown-item">
                    <a tabindex="-1" href="#">OnePlus</a>
                </li>
                <li class="dropdown-item">
                    <a tabindex="-1" href="#">Redmi</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" href="#">Even More..</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="#">3rd level</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">another level</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1">Mobiles</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a tabindex="-1" href="#">Samsung</a>
                </li>
                <li class="dropdown-item">
                    <a tabindex="-1" href="#">OnePlus</a>
                </li>
                <li class="dropdown-item">
                    <a tabindex="-1" href="#">Redmi</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" href="#">Even More..</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="#">3rd level</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">another level</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>