<div class="container">
    <div class="card" [style]="{'width': '28rem', 'margin-bottom': '2em'}">
        <div class="card-header text-center">LOGIN</div>
        <div>
            <img src="assets/images/welcome2.jpg" width="100%">
        </div>
        <div class="card-body">
            <div class="alert alert-danger" *ngIf="message">
                {{ message }}</div>
            <form class="needs-validation" nonvalidate [formGroup]="loginForm">
                <div class="form-group">
                    <label for="user-name">Enter User Name</label>
                    <input type="email" class="form-control" id="user-name" formControlName="username"
                        [ngClass]="getControlValidationClasses(userNameControl)">
                    <div class="invalid-feedback" *ngIf="userNameControl.touched && userNameControl.errors?.required">
                        Please enter user name
                    </div>
                    <div class="invalid-feedback" *ngIf="userNameControl.touched && userNameControl.errors?.email">
                        username must be of email type
                    </div>
                </div>
                <div class="form-group">
                    <label for="password-control">Enter Password</label>
                    <input type="password" class="form-control" id="password-control" formControlName="password"
                        [ngClass]="getControlValidationClasses(passwordControl)">
                    <div class="invalid-feedback" *ngIf="passwordControl.touched && passwordControl.errors?.required">
                        Please enter password
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordControl.touched && passwordControl.errors?.minlength">
                        must be of length 5
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordControl.touched && passwordControl.errors?.maxlength">
                        must be of length 8
                    </div>
                </div>
                <div style="text-align: center; padding: 3px;">
                    <button pButton pRipple type="button" label="Submit" class="p-button-rounded p-button-success"
                        [disabled]="!loginForm.valid" (click)="onLoginFormSubmit()"></button>
                </div>
            </form>
        </div>
    </div>
</div>