.container{
    max-width: 1250px;
    margin-top: 10px;
}

.cart-page-header h3 {
    font-size:30px;
    font-family: "Playfair Display";
    font-weight: bold;
    text-align: center;
    color:brown;
}

.product-title{
    color: #1d1d20;
    max-width: 100%;
    text-align: left;
}
.card{
    padding: 0.3rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 9px;
}

.cart-total-row {
    line-height: 30px;
}
.cart-total-label {
    text-align: left;
    font-size:16px;
    font-family: "Playfair Display";
    font-weight: bold;
}
.cart-total-value {
    text-align: right;
    font-size:16px;
    font-family: "Playfair Display";
}
.cart-total-price {
    color:black;
    font-size:16px;
    font-family: "Playfair Display";
}

.td-text{
    text-align: center;
    font-weight: 500;
}

.checkout-page-container {
    max-width: 1300px;
    text-align: center;
    padding: 0 30px;
    margin: auto;
}

.checkout-page-content {
    max-width:1200px;
    height: 25rem;
    margin:30px 70px;
    background-color: white;
    padding:60px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.checkout-page-content h1 {
    font-size:30px;
    font-family: "Playfair Display";
    font-weight: bold;
    text-align: center;
    color:brown;
}

.checkout-page-content h3, h4 {
    margin-top: 30px;
    font-size:20px;
    font-family: "Playfair Display";
    font-weight: bold;
    text-align: center;
}