<div style="margin:20px;padding: 5px;">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/welcome.jpg">
        </ng-template>
        <p>{{product.name}}</p>
        <p>{{product.brand}}</p>
        <ng-template pTemplate="footer">
            <p-button label="Cancel" icon="pi pi-times"></p-button>
            <p-button label="Add To Cart" *ngIf="!(addToCartClick)" icon="pi pi-shopping-cart"
                styleClass="p-button-secondary" (click)="addToCart()" [style]="{'margin-left': '.5em'}">
            </p-button>
            <p-button label="View Cart" *ngIf="addToCartClick" icon="pi pi-shopping-cart"
                styleClass="p-button-secondary" (click)="ViewCart()" [style]="{'margin-left': '.5em'}">
            </p-button>
        </ng-template>
    </p-card>
</div>