<form class="form-inline my-2 my-lg-0" nonvalidate [formGroup]="searchForm">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
        formControlName="searchName" [ngClass]="getControlValidationClasses(searchNameControl)">
    <div class="invalid-feedback" *ngIf="searchNameControl.touched && searchNameControl.errors?.minlength">
    length should be atleast 1
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!searchForm.valid"
        (click)="onSearchFormSubmit()">
        Search</button>
</form>